/*定义全局css*/
body {

	/* 紫色 */
    /* 2 全局公共主颜色 */
    --publicMainColor: #8E2DE2;
    /* 2 全局公共副颜色 */
    --publicSubColor: #A27DE3;

}


/* 导航栏开始*/
.header-frontend .navbar {
	margin-bottom: 0;
}

.navbar-default {
	border: none;
}

.navbar-brand {
	color: #bcc0cd;
	font-size: 30px;
	font-weight: 100;
	line-height: 30px;
	/*	margin-top: 15px;*/
	padding: 8px 0 0 15px;
}


.header-frontend .navbar-collapse ul.navbar-nav {
	float: right;
	margin-right: 0;
}

.header-frontend .navbar-default {
	background-color: #fff;
}

.header-frontend .nav li a,
.header-frontend .nav li.active ul.dropdown-menu li a {
	color: #999;
	font-size: 14px;
	font-weight: 300;
	background: none;
}

.header-frontend .nav li a:hover,
.header-frontend .nav li a:focus,
.header-frontend .nav li.active a,
.header-frontend .nav li.active a:hover,
.header-frontend .nav li a.dropdown-toggle:hover,
.header-frontend .nav li a.dropdown-toggle:focus,
.header-frontend .nav li.active ul.dropdown-menu li a:hover,
/*导航栏样式*/
.header-frontend .nav li.active ul.dropdown-menu li.active a {
	color: #fff;
	background-color: var(--publicMainColor,orange);
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.header-frontend .navbar-default .navbar-nav> .open> a,
.header-frontend .navbar-default .navbar-nav> .open> a:hover,
.header-frontend .navbar-default .navbar-nav> .open> a:focus {
	color: #fff;
	background-color: var(--publicMainColor,orange);
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

/*导航栏形状*/
.header-frontend .navbar-nav> li> a {
	line-height: 60px;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	padding-left: 23px;
	padding-right: 23px;
	color: #333;
}

.header-frontend .nav .caret {
	border-bottom-color: #999;
	border-top-color: #999;
}

.header-frontend .nav li .dropdown-menu {
	padding: 0;
}

.header-frontend .nav li .dropdown-menu li a {
	line-height: 28px;
	padding: 3px 12px;
}

.nav-tabs{ border: 0; }
/*.nav>li{ margin-right: 15px;}*/
.nav>li>a{ background: #eba11a; color: #fff; border-radius:50px; padding: 5px 30px;}
.nav>li>a:hover{  background: #f35b4f; color: #fff; border: 0;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{ background: #f35b4f; color: #fff; border: 0;}
@media (max-width: 768px) {
	.nav>li>a{ padding: 5px 15px;}
	.nav>li{ margin-right: 18px;}
	.navbar-brand img{ width: 120px;}
	.navbar-brand{ margin-top: 5px;}
	.navbar-toggle {
		margin-top: 12px;
	}
	.header-frontend .navbar-collapse  ul.navbar-nav {
		float: none;
		margin-left: 0;
	}
	.header-frontend .navbar-nav> li> a{ line-height: 30px;     border-radius: 5px;
		-webkit-border-radius: 5px;}
	.header-frontend .nav li a:hover,
	.header-frontend .nav li a:focus,
	.header-frontend .nav li a.dropdown-toggle:focus,
	.header-frontend .nav li a.dropdown-toggle .dropdown-menu li a:hover,
	.header-frontend .nav li.active a,
	.header-frontend .dropdown-menu li a:hover {
		color: #fff !important;
	}
	.header-frontend .navbar-nav > li {
		padding: 0;
		margin-bottom: 2px;
		line-height: 30px;
	}
	.header-frontend .nav li ul.dropdown-menu li a {
		margin-left: 0px;
		color: #999!important; ;
	}
	.header-frontend .nav li .dropdown-menu li a:hover, .header-frontend .nav li .dropdown-menu li.active a {
		color: #fff !important;
	}
	.navbar-header {
		float: none;
		text-align: center;
		width: 100%;
	}
	.navbar-brand {
		float: none;
	}
	.carousel-control {
		font-size: 45px;
		line-height: 70px;
	}
	.btn, .form-control {
		margin-bottom: 10px;
	}
}
@media (max-width: 480px) {
	.header-frontend .navbar {
		min-height: 60px;
	}
	.navbar-toggle {
		margin-right: -10px;
	}
	.header-frontend .nav li .dropdown-menu li a:hover {
		color: #f77b6f !important;
	}
	.navbar-brand {
		margin-top: 10px !important;
		float: left !important;
	}
}
/*导航栏结束*/

/*腰线开始*/
.newtit{ width: 185px; height: 59px; border: 2px solid var(--publicMainColor,orange); margin: 0 auto;}
.newtit h2{ line-height: 40px; font-size: 24px; color: #040103; text-align: center;}
.newtit span{ width: 150px; margin: 0 auto; background: var(--publicMainColor,orange); text-transform: uppercase; font-size: 20px; color: #fff; padding: 0 10px; text-align: center; display: block;}
/*腰线结束*/


/*home页面数据样式 开始*/
	/*home页面数据样式 普通数据样式 开始*/
.probootstrap-animate {
	/*opacity: 0;
	visibility: hidden;*/
}
.probootstrap-thumbnail {
	position: relative;
	display: block;
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
	opacity: 1;
	width: 80%;
}
.probootstrap-thumbnail.sleep {
    opacity: .5;
}
.probootstrap-thumbnail img {
    position: relative;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    display: block;
    bottom: 0;
    z-index: 2;
	width: 100%;
	height: 290px;
}
.probootstrap-thumbnail h4 {
	z-index: 1;
	display: block;
	text-align: center;
	position: relative;
	-webkit-transition: .2s all ease;
	-o-transition: .2s all ease;
	transition: .2s all ease;
	opacity: 0;
	visibility: hidden;
	bottom: 30px;
	color: var(--publicMainColor,orange);
}
	@media (max-width: 991px) {
		.probootstrap-thumbnail h4 {
			font-size: 24px;
			bottom: 0;
			color: var(--publicMainColor,orange);
		}
	}
	@media (max-width: 767px) {
		.probootstrap-thumbnail h4 {
			opacity: 1;
			visibility: visible;
			bottom: 0;
			margin-top: 10px;
			color: var(--publicMainColor,orange);
		}
	}
.probootstrap-thumbnail:hover h4 {
	opacity: 1;
	visibility: visible;
	bottom: -5px;
	color: var(--publicMainColor,orange);
}
    @media (max-width: 991px) {
		.probootstrap-thumbnail:hover h4 {
			bottom: 0px;
			color: var(--publicMainColor,orange);
		}
	}
.probootstrap-thumbnail:hover img {
	-webkit-transform: scale(1.08);
	-ms-transform: scale(1.08);
	transform: scale(1.08);
	bottom: 20px;
	-webkit-box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
	width: 100%;
	height: 290px;
}
	@media (max-width: 991px) {
		.probootstrap-thumbnail:hover img {
			bottom: 20px;
			-webkit-transform: scale(1);
			-ms-transform: scale(1);
			transform: scale(1);
		}
	}
	@media (max-width: 767px) {
		.probootstrap-thumbnail:hover img {
			bottom: 0px;
			opacity: 1;
			visibility: visible;
		}
	}
.mb-3 {
	margin-bottom: 1rem !important;
}
.mb-4 {
	margin-bottom: 1.5rem !important;
}
.img-fluid {
	max-width: 100%;
	height: auto;
}
	/*home页面数据样式 普通数据样式 结束*/
/*home页面数据样式 结束*/

/*list页面数据样式 开始*/
	/*list页面数据样式 普通数据样式 开始*/
[class^='imghvr-'],
[class*=' imghvr-'] {
	position: relative;
	display: inline-block;
	margin: 0px;
	max-width: 100%;
	background-color:#141c27;
	color:#212121;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-o-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	cursor: pointer;
}
[class^='imghvr-'] > img,
[class*=' imghvr-'] > img {
	vertical-align: top;
	max-width: 100%;
}
[class^='imghvr-'] .agile-figcaption,
[class*=' imghvr-'] .agile-figcaption {
	background-color:var(--publicMainColor,orange);
	padding:5.5em;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color:#212121;
	text-align: center;
}
[class^='imghvr-'] .agile-figcaption h4 {
	font-size: 2em;
	margin-bottom: .5em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 20%;
}
[class^='imghvr-'] .agile-figcaption p{
	line-height:2em;
	color:#ebe8e8;
}
[class^='imghvr-'] a,
[class*=' imghvr-'] a {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}
[class^='imghvr-'],
[class*=' imghvr-'],
[class^='imghvr-']:before,
[class^='imghvr-']:after,
[class*=' imghvr-']:before,
[class*=' imghvr-']:after,
[class^='imghvr-'] *,
[class*=' imghvr-'] *,
[class^='imghvr-'] *:before,
[class^='imghvr-'] *:after,
[class*=' imghvr-'] *:before,
[class*=' imghvr-'] *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
[class^='imghvr-hinge-'],
[class*=' imghvr-hinge-'] {
	-webkit-perspective: 50em;
	perspective: 50em;
}
[class^='imghvr-hinge-'] .agile-figcaption,
[class*=' imghvr-hinge-'] .agile-figcaption {
	opacity: 0;
	z-index: 1;
}
[class^='imghvr-hinge-']:hover img,
[class*=' imghvr-hinge-']:hover img {
	opacity: 0;
}
[class^='imghvr-hinge-']:hover .agile-figcaption,
[class*=' imghvr-hinge-']:hover .agile-figcaption {
	opacity: 1;
	-webkit-transition-delay: 0.21s;
	-moz-transition-delay: 0.21s;
	-o-transition-delay: 0.21s;
	-ms-transition-delay: 0.21s;
	transition-delay: 0.21s;
}

.imghvr-hinge-right img {
	-webkit-transform-origin: 100% 50%;
	-ms-transform-origin: 100% 50%;
	-moz-transform-origin: 100% 50%;
	-o-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
}
.imghvr-hinge-right .agile-figcaption {
	-webkit-transform: rotateY(90deg);
	-moz-transform-origin: 0 50%;
	-o-transform-origin: 0 50%;
	-ms-transform-origin: 0 50%;
	transform: rotateY(90deg);
	-webkit-transform-origin: 0 50%;
	-moz-transform-origin: 0 50%;
	-o-transform-origin: 0 50%;
	-ms-transform-origin: 0 50%;
	transform-origin: 0 50%;
}
.imghvr-hinge-right:hover > img {
	-webkit-transform: rotateY(-90deg);
	-moz-transform: rotateY(-90deg);
	-o-transform: rotateY(-90deg);
	-ms-transform: rotateY(-90deg);
	transform: rotateY(-90deg);
}
.imghvr-hinge-right:hover .agile-figcaption {
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	transform: rotateY(0deg);
}
	/*list页面数据样式 普通数据样式 结束*/
/*list页面数据样式 结束*/

/* 轮播图 */
.layui-carousel[lay-indicator=outside] .layui-carousel-ind ul {
	background-color: #FFFFFF;
}

.layui-carousel-ind li.layui-this {
	background-color:   var(--publicMainColor,orange);
}

.layui-carousel-ind li {
	background-color: #E0E0E0;
}

.layui-carousel-ind li:hover {
	background-color: #E0E0E0;
}
/* 首页标题 */
.index-title {
	color:   var(--publicMainColor,orange);
}

/* 首页新闻 */
.news-home-container {
	background: #e5e5e5;
}

.news-home-container .layui-colla-item {
	border: 1px solid #EEEEEE;
}

.news-home-container .layui-colla-content {
	background: #FFFFFF;
}

.news-home-container .layui-colla-title {
	background: #d1d1d1;
	border: 1px solid #EEEEEE;
	color: #515151;
}

.news-home-container .layui-colla-title:hover {
	background:   var(--publicMainColor,orange);
	color: #FFFFFF;
}

.news-home-container .layui-card-header {
	background: #d1d1d1;
	border: 1px solid #FFFFFF;
	color: #515151;
}

/* 图文列表 */
.data-container:nth-child(odd) {
	background-color: #F3F3F3;
}

.data-container .data-list .data-item:hover {
	border: 2px dashed   var(--publicMainColor,orange);
}

.data-container .data-list .data-item .title:hover {
	color: #FFFFFF;
	background:   var(--publicMainColor,orange);
}


.data-container .data-list .data-item .title {
	background: #f0f0f0;
	color:   var(--publicMainColor,orange);
}

.data-container .data-list .data-item .price {
	color:   var(--publicMainColor,orange);
}

/* 详情页 */
.data-detail {
	background: #FFFFFF;
}

.data-detail-breadcrumb {
	background: #EEEEEE;
	color: #515151;
}

.data-detail .title {
	color: #515151;
	border: 3px dotted #EEEEEE;
}

.data-detail .count-container {
	color: #FFFFFF;
}

.data-detail .count-container .number {
	background: #443b3b;
}

.data-detail .tool-container{
	border: 3px dotted #EEEEEE;
}

.data-detail .price{
	color:   var(--publicMainColor,orange);
}


.layui-tab-card>.layui-tab-title .layui-this {
    background-color:   var(--publicMainColor,orange);
	color: #FFFFFF;
}

/* 底部导航栏 */
.nav-bottom {
	background:   var(--publicMainColor,orange);
}

.nav-bottom .layui-nav-item a {
	color: #FFFFFF;
}

/* banner */
.banner {
	background:   var(--publicMainColor,orange);
}

/* 新闻资讯 */
.news-container .news-list .news-item .detail-container .h2 {
	color: #4e6990;
}

.news-container .news-list .news-item .detail-container .desc {
	color: #515151;
}

.news-container .news-list .news-item .detail-container .create-time {
	color: #515151;
}

.news-container .title {
	color:   var(--publicMainColor,orange);
}


.news-container .bottom-container .btn {
	background:   var(--publicMainColor,orange);
	color: #FFFFFF;
}

/* 论坛 */

.forum-container .bottom-container .btn {
	background:   var(--publicMainColor,orange);
	color: #FFFFFF;
}

.forum-container .forum-list .forum-item:hover {
	background:   var(--publicMainColor,orange);
	color: #FFFFFF;
}

.forum-container .forum-list .forum-item.line:hover {
	background:   var(--publicMainColor,orange);
	color: #FFFFFF;
}

/* 考试 */
.paper-container thead tr{
	background:   var(--publicMainColor,orange) ;
	color: #FFFFFF;
}

.paper-container tbody tr:hover{
	color: #FFFFFF;
	background-color:   var(--publicMainColor,orange);
}

/* 个人中心 */

.center-container  .layui-nav .layui-nav-more {
    border-color: #515151 transparent transparent;
}

.center-container .layui-nav-itemed>a, .layui-nav-tree .layui-nav-title a, .layui-nav-tree .layui-nav-title a:hover {
    color: #515151 !important;
}

.center-container  .layui-nav .layui-nav-mored, .layui-nav-itemed>a .layui-nav-more {
    border-color: transparent transparent #515151;
}

.center-container .layui-nav {
    background-color: #009688;
    color: #515151;
}

.center-container .layui-nav-itemed>.layui-nav-child {
    background-color: #FFFFFF !important;
}

.center-container .layui-nav-tree .layui-nav-bar {
    width: 5px;
    height: 0;
    background-color:   var(--publicMainColor,orange);
}

/* 分页插件 */
.layui-laypage .layui-laypage-curr .layui-laypage-em {
	background-color:   var(--publicMainColor,orange);
}

.layui-laypage a:hover {
	color:   var(--publicMainColor,orange);
}

.btn-submit {
	background:   var(--publicMainColor,orange);
}

.btn-theme{
	background:   var(--publicMainColor,orange);
}


/* checkbox */
.layui-form-radio>i:hover, .layui-form-radioed>i {
    color:   var(--publicMainColor,orange);
}

.layui-form-select dl dd.layui-this {
    background-color:   var(--publicMainColor,orange);
    color: #fff;
}

layui-tab-title .layui-this {
    color:   var(--publicMainColor,orange);
}

.layui-tab-brief>.layui-tab-more li.layui-this:after, .layui-tab-brief>.layui-tab-title .layui-this:after {
    border-bottom: 2px solid   var(--publicMainColor,orange);
}